/* .card {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
  font-size: 0.9rem;
} */
.username, .card{
  display: flex;
  align-items: center;
  
  
}
.card{
  width: 35rem;
  font-size: 0.9rem;
  margin: 0 auto;
  color: rgb(143, 137, 137);
  font-family: 'Nunito Sans', sans-serif;
  justify-content: space-between;
}
.cardText{
  margin-right: 1rem;
}
.username{
  width: 70%;
}

.card img {
  padding: 1rem;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}
